:root {
  /* Add custom colors here */
  --primary-color: #F9B32C;
  --secondary-color: #00ACBD;
  --tertiary-color: #CE5CFC;
  --dark-secondary: #007b86;
}

body {
  background-image: linear-gradient(to bottom, #f9b32c, #ff8849, #ff587d, #ff40bd, #ce5cfc);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  text-align: center;
}

h1 {
  color: var(--secondary-color);
  font-size: 3.815em;
  text-decoration: underline;
  text-shadow: 2px 2px var(--tertiary-color);
}

#cartBtn {
  background-color: var(--tertiary-color);
}

#cart-container {
  border: 2px solid var(--tertiary-color);
  margin: auto;
  margin-bottom: 2em;
  max-width: 80%;
  min-height: 4em;
}

#cart-list {
  list-style: none;
  padding: 0;
}

#cart-list li {
  color: white;
  font-size: 1.563em;
  margin-bottom: 1em;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div {
  margin-bottom: 2em;
}

figure {
  margin: 0;
}

img {
  border: 2px ridge var(--secondary-color);
  transition: transform 0.2s;
}

img:hover {
  transform: scale(1.05);
}

figcaption {
  color: white;
  font-size: 1.953em;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-bottom: 0.4em;
}

button {
  background: var(--secondary-color);
  border: none;
  border-radius: 1em;
  box-shadow: 0 0 10px #ddd;
  color: white;
  font-size: 1.563em;
  margin-bottom: 1em;
  padding: 0.4em 0.8em;
  transition: background 0.5s;
}

button:hover {
  background: var(--dark-secondary);
  cursor: pointer;
}

button span {
  margin-left: 0.4em;
}

.hidden {
  display: none;
}
