/* TODO: Style your store as best as you can. You should use some flex box to have a 'nice grid' display. https://css-tricks.com/snippets/css/a-guide-to-flexbox/ is a good general guide to explore with.

You should use CSS Variables to set up a color theme.


 */

:root {
  /* Add custom colors here */
  --primary-color: #F9B32C;
  --secondary-color: #00ACBD;
  --tertiary-color: #CE5CFC;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: linear-gradient(to bottom, #f9b32c, #ff8849, #ff587d, #ff40bd, #ce5cfc);
  text-align: center;
}

h1 {
  color: var(--secondary-color);
  font-size: 3em;
  text-shadow: 2px 2px var(--tertiary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div {
  margin-bottom: 2em;
}

button {
  color: white;
  background: var(--secondary-color);
  border: none;
  box-shadow: 2px 2px #ddd;
}
